[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
flower = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
